
body {
    font-family: Montserrat, Arial, sans-serif;
    background-color:blanchedalmond;
    background: linear-gradient(#faf9bf,#f5c1ea,#faf9bf);
    background-repeat: repeat-y;
    color: #69154a;
    font-weight: 500;

}


h2 {
    font-size: 30px;
    color: #ba2081;
    margin-left: 40px;
}

.header {
    font-family: 'Inspiration', cursive;
    font-size: 250%;
    color: #ba2081;
    padding: 1px;
    text-align: center;
    border-color: #69154a;
    border-width: 5px;
    border-style: solid;
   
}

.topnav {
        background-color:#f5c1ea;
        overflow: hidden;
        border: #69154a;
        border-style: solid;
        border-width: 5px;
        border-top-width: 0px;
        border-left-width: 5px;
        border-right-width: 5px;
        display: block;
     
}

.topnav a {
    color: #69154a;
    text-align: center;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 10px;   
}

.topnav a:hover {
    background-color: #faf9bf;   
}



.gallerythumbnail {
    width: auto;
    height: 90%;
    display: block;
    border: #69154a 2px solid;  
}   


.gallery:hover {
    transform: scale(1.1);
    
}

.gallery {
    margin: 40px;
    width: 180px;
    height: 180px;
    display: inline-block;    
}

.imgdesc {
    text-align: center;
}

.footer  {
    position: absolute;
    bottom: 0px;
    right: 20px;
    float: right;
    font-weight: bold;
}




