.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: blueviolet;
    padding: 20px;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdownContent {
    display: block;
}