<div class="topnav">
    <a href="../index.html">Home</a>
    <a href="../AllRecipes.html">All Recipes</a>
    <a href="../ElliotsRecipes.html">Elliot's Recipes</a>
    <a href="../ElliotsRecipes.html">Anya's Recipes</a>
    <div class="dropdown">
      <button class="dropbtn">Cuisine </button>
      <div class="dropdown-content">
        <a href="../Cuisine/Asian.html">Asian</a>
        <a href="../Cuisine/Baking.html">Baking</a>
        <a href="../Cuisine/Indian.html">Indian</a>
        <a href="../Cuisine/Italian.html">Italian</a>
        <a href="../Cuisine/Jamaican.html">Jamaican</a>
        <a href="../Cuisine/Jamaican.html">Mediterranian</a>
      </div>
    </div>
  </div>